DATABASE_URL="postgresql://postgres:[PASSWORD]@db.[PROJECT].supabase.co:5432/postgres"
DIRECT_URL="postgresql://postgres:[PASSWORD]@db.[PROJECT].supabase.co:5432/postgres"
UPSTASH_REDIS_REST_URL="https://[ID].upstash.io"
UPSTASH_REDIS_REST_TOKEN="[TOKEN]"
PORT=4000
CLIENT_URL="http://localhost:3000"
NODE_ENV="development"
